.centerb {
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%,-50%);
  }
body{
    background-color: darkcyan;
}
body> .container{
    padding-top: 10%;
    padding-bottom: 5%;
}
.card{
    position: relative;
}
@media screen and (max-width:950px) {
    body> .container{
        padding-top: 20%;
        padding-bottom: 20%;
    }

}